<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="navbar.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<nav>
    <div class="menu-icon" (click)="toggleMenu()">
        <span [ngClass]="{'fas fa-bars': !menuBtnActive}"><i *ngIf="menuBtnActive" class="material-icons">close</i></span>
    </div>
    <div class="logo">
        <img src="../../../assets/img/logo1v1.png" alt="" class="img-logo">
        <img src="../../../assets/img/nombre-removebg-preview (2).png" alt="" class="img-titulo">
        <img src="../../../assets/img/logo1v1.png" alt="" class="img-logo">
    </div>
    <div class="nav-items" [class.active]="menuBtnActive">
        <li><a class="nav-link" routerLink="/home">Inicio</a></li>
        <li *ngIf="userRole === 'ADMIN' || userRole === 'MODER'"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
        <li><a class="nav-link" routerLink="/about">About</a></li>
        <li *ngIf="userRole === 'ADMIN'"><a class="nav-link" routerLink="/users-list">User List</a></li>
    </div>
    <div class="search-icon" (click)="toggleSearchForm()">
        <span class="fas fa-search" [class.hide]="searchFormActive"></span>
    </div>
    <div class="cancel-icon" (click)="cancelSearch()" [class.show]="searchFormActive">
        <span class="fas fa-times"></span>
    </div>
    <form [ngClass]="{'active': searchFormActive}" action="#">
        <input type="search" class="search-data" placeholder="Buscar" required>
        <button type="submit" class="fas fa-search"></button>
    </form>
    <div class="profile-circle ms-3" (click)="toggleProfileWindow()">
        <i class="fas fa-user"></i>
        <div class="profile-popup" [class.active]="profileWindowActive" [@expandCollapse]="profileWindowActive ? 'open' : 'closed'">
            <li style="list-style-type: none" class="pt-2 text-center"><p>{{ usuario.nombre }}</p></li>
            <hr>
            <li style="list-style-type: none" class="my-4 text-center"><a class="btn btn-primary p-1 " routerLink="/user-profile">Ver perfil</a></li>
            <li style="list-style-type: none" class="my-4 text-center"><button (click)="onClick()" class="btn btn-danger p-1">Logout</button></li>
        </div>
    </div>
</nav>
