<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="navbar.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<nav>
    <div class="menu-icon" (click)="toggleMenu()">
        <span [ngClass]="{'fas fa-bars': !menuBtnActive}"><i *ngIf="menuBtnActive" class="material-icons">close</i></span>
    </div>
    <div class="logo">
        Frosted Files
    </div>
    <div class="nav-items" [class.active]="menuBtnActive">
        <li><a class="nav-link" href="/home">Bienvenido</a></li>
        <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
        <li><a class="nav-link" href="/about">About</a></li>
    </div>
    <div class="search-icon" (click)="toggleSearchForm()">
        <span class="fas fa-search" [class.hide]="searchFormActive"></span>
    </div>
    <div class="cancel-icon" (click)="cancelSearch()" [class.show]="searchFormActive">
        <span class="fas fa-times"></span>
    </div>
    <form [ngClass]="{'active': searchFormActive}" action="#">
        <input type="search" class="search-data" placeholder="Buscar" required>
        <button type="submit" class="fas fa-search"></button>
    </form>
    <div class="profile-circle" style="left: 5px;" (click)="toggleProfileWindow()">
        <i class="fas fa-user"></i>
        <div class="profile-popup" [class.active]="profileWindowActive">
            <li style="list-style-type: none"><a>usuario:Ejemplo</a></li>
            <li style="list-style-type: none"><a class="btn btn-outline-primary" href="/user-profile">Ver perfil</a></li>
            <li style="list-style-type: none"><button (click)="onClick()" class="btn btn-outline-danger">Logout</button></li>
        </div>
    </div>
</nav>
