<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Sign up</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Mail:</label>
                            <input type="email" class="form-control my-3" id="email" placeholder="Enter your email" formControlName="email" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control my-3" id="password"
                                placeholder="Enter your password" formControlName="password"/> 
                        </div>
                        <div class="form-group">
                            <label for="password">Repeat Password:</label>
                            <input type="password" class="form-control my-3" id="passwordValidation"
                                placeholder="Repeat your password" formControlName="passwordValidation"/>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2 mx-3">Sign up</button>
                        <div style="margin-top: 10px">
                            <small>* Already have an account?
                                <a routerLink="/auth/login">Login →</a>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>