<div class="modal-header">
    <h4 class="modal-title">Formulario Compartir</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form *ngIf="file">
        <div class="form-group">
            <label for="destinatario">Email address</label>
            <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="asunto">Asunto</label>
            <input type="text" class="form-control"  placeholder="asunto">
        </div>
        <div class="form-group">
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" placeholder="Escribe el contenido del mensaje" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="archivo">Archivo:</label>
            <p>{{ file.nombre }}</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="compartir()">Compartir</button>
</div>