<head>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,900&display=swap" rel="stylesheet">
</head>
<div class="principal-container">
    <div class="bienvenida-container">
        <div class="informacion-container">
            <p class="bienvenida-text">Frosted Files</p>
            <p class="descripcion-text">Bienvenido a Frosted Files, un gestor de archivos multimedia y proyectos. Nuestra plataforma te ofrece una manera sencilla y segura de organizar y almacenar todos tus archivos creativos, desde imágenes y videos hasta documentos importantes. Mantén tus proyectos al alcance de tu mano estés donde estés. ¡Explora las características que hemos diseñado para facilitar tu flujo de trabajo y potenciar tu creatividad!</p>
            <div class="button-container">
                <a class="button" href="/login">Iniciar Sesión</a>
                <a class="button" href="/register">Registrarse</a>
            </div>
        </div>
    </div>
</div>
