<app-navbar></app-navbar>
<div class="containerRoot">
<div class="container-fluid">
    <form (ngSubmit)="createFile()">
    <div class="row mt-3">
        <div class="col-12 col-md-9 my-1">            
            <select class="form-control p-3 rounded" id="selectElement" name="selectedCategory" [(ngModel)]="selectedCategory">
                <option value="">Open one category</option>
                <ng-container *ngFor="let category of categoriesList">
                    <option [ngValue]="category.nombre">{{ category.nombre }}</option>
                    <optgroup *ngIf="subcategoriesByCategory[category.nombre] && subcategoriesByCategory[category.nombre].length > 0" [label]="category.nombre">
                        <option *ngFor="let subcategory of subcategoriesByCategory[category.nombre]" [ngValue]="subcategory.nombre">
                        &nbsp;&nbsp;&nbsp;{{ subcategory.nombre }}
                        </option>
                    </optgroup>
                </ng-container>
              </select>
              
              
            <!-- <select class="form-control p-3 rounded" id="selectElement" [(ngModel)]="selectedSubcategory" name="selectedCategory">
                <option value="">Open one category</option>
                <ng-container *ngFor="let category of categoriesList">
                  <option [value]="category.nombre">{{ category.nombre }}</option>
                  <optgroup *ngIf="subcategoriesByCategory[category.nombre] && subcategoriesByCategory[category.nombre].length > 0" [label]="category.nombre">
                    <option *ngFor="let subcategory of subcategoriesByCategory[category.nombre]" [value]="subcategory.nombre">
                      &nbsp;&nbsp;&nbsp;{{ subcategory.nombre }}
                    </option>
                  </optgroup>
                </ng-container>
              </select> -->
              
        </div>
        <div class="col-12 col-md-3 my-1">
            <select class="form-control p-3" [(ngModel)]="selectedVisibility" name="selectedVisibility">
                <option value="1">Visibility: Public</option>
                <option value="2">Visibility: Private</option>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-9">
            <div (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" id="drag-drop" form="fileData">
                <p>Drag and Drop</p>
                <input type="file" (change)="onFileSelected($event)" form="fileData">
            </div>
        </div> 
        <div class="col">
            <div class="col mt-5 cl-progress">
                <ul>
                    <li *ngFor="let file of selectedFiles" class="cl-files mt-4">
                        {{ file.name }}
                        <div class="progress mt-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div id="barra" class="progress-bar progress-bar-striped progress-bar-animated" style="--w:100%"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center my-4">
        <div class="col">
            <button class="btn btn-dark" (click)="createFile()">Upload</button>
        </div>
        <div class="col">
            <button routerLink="/home" class="btn btn-dark">Go back to home</button>
        </div>
    </div>
</form>
</div>
</div>
