<app-navbar></app-navbar>
<div class="containerRoot pt-1">
    <div class="container marg-top-cont">
        <div class="row mt-5">
            <div class="col perfil-contenedor">
                <div class="animate__animated animate__slideInLeft">
                    <div class="perfil-outline">
                        <div class="overlay-2"></div>
                        <img src="../../../assets/img/about/robert.jpeg" alt="Foto perfil" class="foto-perfil">
                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__slideInRight">
                <h3 class="mb-3">Robert Carcolé Solanes</h3>
                <a href="https://www.linkedin.com/in/rocarcoleso/">
                    <img src="../../../assets/img/about/linkedin.png" alt="" class="me-3">
                    Robert Carcole
                </a>  
                <a href="https://github.com/rcarcole">
                    <img src="../../../assets/img/about/github.png" alt="" class="mx-4">
                    rcarcole
                </a>          
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col animate__animated animate__slideInLeft">
                <h3 class="mb-3">Manuel Antonio Rybakin</h3>
                <a href="https://www.linkedin.com/in/manuel-antonio-rybakin/">
                    <img src="../../../assets/img/about/linkedin.png" alt="" class="me-3">
                    Manuel Antonio Rybakin
                </a>
                <a href="https://github.com/GCMrybakin">
                    <img src="../../../assets/img/about/github.png" alt="" class="mx-4">
                    GCMrybakin
                </a>
            </div>
            <div class="col perfil-contenedor">
                <div class="animate__animated animate__slideInRight">
                    <div class="perfil-outline">
                        <div class="overlay-2"></div>
                        <img src="../../../assets/img/about/antonio.jpeg" alt="Foto perfil" class="foto-perfil">
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row mt-5">
            <div class="col perfil-contenedor">
                <div class="animate__animated animate__slideInLeft">
                    <div class="perfil-outline">
                        <div class="overlay-2"></div>
                        <img src="../../../assets/img/about/jesus.jpeg" alt="Foto perfil" class="foto-perfil">
                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__slideInRight">
                <h3 class="mb-3">Jesús Sepulveda Corchero</h3>
                <a href="https://www.linkedin.com/in/jesus-sepulveda-corchero/" >
                    <img src="../../../assets/img/about/linkedin.png" alt="" class="me-3">
                    Jesus Sepulveda
                </a>           
                <a href="https://github.com/JesusDavid2002">
                    <img src="../../../assets/img/about/github.png" alt="" class="mx-4">
                    JesusDavid2002
                </a>
            </div>
        </div>
    </div>
</div>