<app-navbar></app-navbar>

<div class="container w50 marg-top-cont">
    <div class="row mt-5">
        <div class="col perfil-contenedor">
            <div class="animate__animated animate__fadeInLeft">
                <div class="perfil-outline">
                    <div class="overlay-2"></div>
                    <img [src]="profilePhoto" alt="Foto perfil" class="foto-perfil">
                </div>
            </div>
        </div>
        <div class="col animate__animated animate__fadeInRight">
            <h3>Robert Carcolé Solanes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique doloremque expedita ipsa quibusdam rem nulla quae minima ad! Necessitatibus perferendis quod ex laudantium inventore! Exercitationem perspiciatis atque suscipit sequi quis?</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col animate__animated animate__fadeInLeft">
            <h3>Manuel Antonio Rybakin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique doloremque expedita ipsa quibusdam rem nulla quae minima ad! Necessitatibus perferendis quod ex laudantium inventore! Exercitationem perspiciatis atque suscipit sequi quis?</p>
        </div>
        <div class="col perfil-contenedor">
            <div class="animate__animated animate__fadeInRight">
                <div class="perfil-outline">
                    <div class="overlay-2"></div>
                    <img [src]="profilePhoto" alt="Foto perfil" class="foto-perfil">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col perfil-contenedor">
            <div class="animate__animated animate__fadeInLeft">
                <div class="perfil-outline">
                    <div class="overlay-2"></div>
                    <img [src]="profilePhoto" alt="Foto perfil" class="foto-perfil">
                </div>
            </div>
        </div>
        <div class="col animate__animated animate__fadeInRight">
            <h3>Jesús Sepulveda Corchero</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique doloremque expedita ipsa quibusdam rem nulla quae minima ad! Necessitatibus perferendis quod ex laudantium inventore! Exercitationem perspiciatis atque suscipit sequi quis?</p>
        </div>
    </div>
</div>