<div class="chart mx-3" *ngIf="estadisticaGuardada">
        <ngx-charts-advanced-pie-chart
                [view]="view"
                scheme="cool"
                [results]="estadisticaGuardada"
                [gradient]="gradient"
                >
        </ngx-charts-advanced-pie-chart>
</div>
<!-- Mostrar los datos -->
<div *ngIf="estadisticaGuardada">
        <h3>Datos de estadísticas mensuales:</h3>
        <ul>
          <li *ngFor="let mesData of estadisticaGuardada">
            <h4>{{ mesData.name }}</h4>
            <ul>
              <li *ngFor="let accion of mesData.series">
                {{ accion.name }}: {{ accion.value }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
