/* Estilos para los nodos */
.containerRoot{
    position: relative;
    top: 0;
    height: 85.5vh;
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
    overflow-x: hidden;    
    border: 5px groove rgb(99, 129, 194);
    background: linear-gradient(90deg,rgba(199,228,255,1) 95%, rgb(229, 238, 250) 100%);   
    /* background: linear-gradient(to left, rgb(195, 214, 235), transparent), url(../../../assets/img/662277.jpg); */
    background-size: cover;  
}

.tree-list {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 15px;
}

.node {
    cursor: pointer;
    padding: 10px 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.sub-tree {
    list-style-type: none;
    padding-left: 20px;
}

.sub-node {
    cursor: pointer;
    padding: 10px 0;
    padding-left: 15px;
    font-size: 0.9em;
    color: rgb(0, 0, 0);
}

.icon-open::before {
    content: url(../../../assets/img/9023491_folder_notch_open_fill_icon.png);
    margin-right: 5px;
}

.icon-closed::before {
    content: url(../../../assets/img/folder_10238585.png);
    margin-right: 5px;
}

.node:hover {
    background-color: rgba(59, 59, 59, 0.753);
    color: whitesmoke;
}

/* Estilos responsive */
@media (max-width: 1400px), (min-width: 990px){

    .tree-list, .sub-tree {
        margin-left: -20px;
    }
}

@media (max-width: 1000px) {
    .containerRoot{
        height: auto;
        width: auto;
        background: linear-gradient(to bottom,rgba(199,228,255,1) 95%, rgb(229, 238, 250) 100%);   
        
    }
}

@media (max-width: 767px) { 
    .cl-categories {
        padding: 15px;
    }

    .tree-list, .sub-tree {
        padding-left: 10px;
    }
    
    .node, .sub-node {
        padding: 2px 0;
        font-size: 0.9em;
    }
    
    .icon-open::before, .icon-closed::before {
        margin-right: 3px;
    }
    
}

.context-menu{
    position: absolute;
}
button {
    width: 100px;
    height: 50px;
  }
.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

.menu li a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: black;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.menu li a:hover{
    background: rgb(180, 180, 180);
    color: blue;
}

.menu li a i {
    padding-right: 10px;
}

.menu li.trash a:hover{
    color: red;
}
