<div class="containerRoot">
    <div class="container">
        <div class="row mx-3 my-4">
            <div class="col-12 col-md-12 col-lg-3 d-lg-none">
                <button class="btn btn-info text-center w-100" type="button" data-bs-toggle="collapse" data-bs-target="#categoriasCollapse" aria-expanded="false" aria-controls="categoriasCollapse">
                    <span class="">Categorias</span>
                </button>
                <div class="collapse mt-3" id="categoriasCollapse">
                    <h2 >Categories</h2>
                    <ul class="tree-list">
                        <ng-container *ngFor="let category of categoriesList">
                            <li>
                                <div class="node" (click)="desplegar(category)">
                                    <span [ngClass]="{ 'icon-open': category.open, 'icon-closed': !category.open }" ></span>
                                    {{ category.name }}
                                </div>
                                <hr>
                                <ul *ngIf="category.open && category.subcategories && category.subcategories.length > 0" class="sub-tree">
                                    <li *ngFor="let subcategory of category.subcategories">
                                        <div class="node sub-node" (click)="update(category.name, subcategory)">
                                            {{ subcategory }}
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>            

            <div class="col cl-categories">
                <div class="d-none d-lg-block mx-4">
                    <h2>Categories</h2>
                    <ul class="tree-list">
                        <ng-container *ngFor="let category of categoriesList" >
                            <li>
                                <div class="node my-2" (click)="desplegar(category)" (click)="update(category.name)" (mouseup)="detectRightMouseClick($event,category)">
                                    <span [ngClass]="{ 'icon-open': category.open, 'icon-closed': !category.open }"></span>
                                    {{ category.name }}
                                    <!-- Cruz de borrar para cada categoría -->
                                    <i class="bi bi-x-circle cursor-pointer" (click)="deleteCategory(category.name); $event.stopPropagation()"></i>
                                </div>
                                <hr>
                                <ul *ngIf="category.open && category.subcategories && category.subcategories.length > 0" class="sub-tree">
                                    <li *ngFor="let subcategory of category.subcategories">
                                        <div class="node sub-node" (click)="update(category.name, subcategory)" (mouseup)="detectRightMouseClick($event,subcategory)">
                                            {{ subcategory }}
                                            <!-- Cruz de borrar para cada subcategoría -->
                                            <i class="bi bi-x-circle float-end cursor-pointer" ></i>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="contextmenu" class="contextmenu" [ngStyle]="rightPanelStyle" (clickOutside)="closeContextMenu()" (mouseleave)="closeContextMenu()">
    <ul class="menu">
        <li><a><i class="fa fa-eye" aria-hidden="true"></i>Edit</a></li>
        <li><a><img src="../../../assets/img/icons/pencil.png" alt=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>View</a></li>
        <li class="trash" (click)="deleteCategory()"><a><i class="fa fa-trash" aria-hidden="true"></i>Delete</a></li>
    </ul>
</div>