/* Estilos para los nodos */
.containerRoot{
    position: relative;
    top: 0;
    height: 85vh;
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
    overflow-x: hidden;
    background: linear-gradient(to left, rgba(240, 247, 255, 1), transparent), url(../../../assets/img/662277.jpg);
    background-size: cover;
    /* background-color: #c7e4ff; */
    /* background: rgb(135,164,250);
    background: linear-gradient(90deg, rgba(135,164,250,1) 67%, rgba(199,228,255,1) 85%, rgba(240,247,255,1) 98%);     */
}

.tree-list {
    list-style-type: none;
    padding-left: 20px;
}

.node {
    cursor: pointer;
    padding: 10px 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.sub-tree {
    list-style-type: none;
    padding-left: 20px;
}

.sub-node {
    cursor: pointer;
    padding: 10px 0;
    padding-left: 15px;
    font-size: 0.9em;
    color: rgb(0, 0, 0);
}

.icon-open::before {
    content: '▼';
    margin-right: 5px;
}

.icon-closed::before {
    content: '►';
    margin-right: 5px;
}

.node:hover {
    background-color: #f5f5f5d8;
}

/* Estilos responsive */
@media (max-width: 1000px) {
    .containerRoot{
        height: auto;
        width: auto;
        background: linear-gradient(to top, rgba(240, 247, 255, 1), transparent), url(../../../assets/img/top.jpg);
        
    }
}
@media (max-width: 767px) { 
    .cl-categories {
        padding: 15px;
    }

    .d-none {
        display: none !important;
    }

    .tree-list, .sub-tree {
        padding-left: 10px;
    }
    
    .node, .sub-node {
        padding: 2px 0;
        font-size: 0.9em;
    }
    
    .icon-open::before, .icon-closed::before {
        margin-right: 3px;
    }
    
}
