li{
    list-style: none;
    cursor: pointer;
}

.containerRoot {
    position: relative;
    top: 0;
    height: 85vh;
    width: 100%;
    color: white;
    overflow-x: hidden;
    background-color: #c7e4ff;
}

h2 {
    margin-left: 50px;
    color: black;
}

@media (max-width: 1140px) {
    .list-group{
        width: 250px;
        margin-left: -20px;
    }
}
@media (max-width: 1000px) {
    .containerRoot{
        height: auto;
        width: auto;
    }
}
