
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Rol</th>
                <th>Leer</th>
                <th>Modificar</th>
                <th>Eliminar</th>
                <th>Seguridad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Ramón Martínez</td>
                <td>User</td>
                <td>true</td>
                <td>true</td>
                <td>true</td>
                <td>false</td>
            </tr>
        </tbody>
    </table>
