<!-- Aqui la vinculacion con el navbar -->

<div class="container-fluid">
    <div class="row">
        <div class="col-6 py-2 ps-3">
            <input type="text" disabled placeholder=" public/multimedia">
        </div>
        <div class="col mx-5 py-2 rounded cl-btns">
                <button type="button" class="btn btn-light mx-1" ><img src="../../../assets/img/file_format_icon.png" alt="">Crear Categoría</button>
                <button type="button" class="btn btn-light mx-1" routerLink="/upload-files"><img src="../../../assets/img/file_format_paper_icon.png" alt="">Subir Archivo</button>
                <button type="button" class="btn btn-light mx-1" routerLink="/update-files">Modificar Archivo</button>
                <button type="button" class="btn btn-danger mx-1">Eliminar Archivo</button>
                <button type="button" class="btn btn-light mx-1">Compartir Archivo</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3 ms-3 rounded cl-categories">
            <!-- Aqui ira la jerarquia -->
        </div>
        <div class="col-6 ms-5 cl-files" (dblclick)="navigateDetails()" (click)="details()">
            <!-- Aqui iran los archivos -->
            <div class="card mx-3" style="width: 7rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">File name</h5>
                </div>
            </div>
            <div class="card mx-3" style="width: 7rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">File name</h5>
                </div>
            </div>
            <div class="card mx-3" style="width: 7rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">File name</h5>
                </div>
            </div>
            <div class="card mx-3" style="width: 7rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">File name</h5>
                </div>
            </div>
            <div class="card mx-3" style="width: 7rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">File name</h5>
                </div>
            </div>
            <div class="card mx-3" style="width: 7rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">File name</h5>
                </div>
            </div>            
        </div>
        <div class="col-2 ms-5 rounded cl-detail">
            <!-- Aqui la vista de detalles de los archivos -->
        </div>
    </div>
</div>