* {
    margin: 0;
    padding: 0;
}

.containerRoot {
    position: relative;
    height: 92.6vh;
    color: white;
    overflow-x: hidden;
    background-color: #f0f7ff;
}

nav  {
    background-color: #5079a5;
}

input {
    border: none;
    width: 45vw;
    height: 50px;
    border-left: 4px solid #95d5ff;
    background-color: #95d5ff3d;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.884);
    opacity: 1;
}

input[type=text]:focus {
    background-color: #4a87af;
    color: rgba(255, 255, 255, 0.884);
}

.boton-Copiar{
    margin-left: 10px;
}

button {
    padding: 6px;
    height: 50px;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.cl-btns{
    text-align: center;
}

.card{
    margin-top: 15px;
    display: flex;
    border: 1px solid rgb(0, 153, 255);
}

hr {
    height: 2px;
    background-color: #303030;
    border: none;
}

#categoriasYfichero {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 85.5vh;
}

#navbarNavDropdown img {
    padding-bottom: 5px;
    margin-right: 5px;
    height: 35px;
    width: 30px;
    visibility: visible;
}

#ArchivosContainerRoot{
    margin-left: 70px;
}

#ArchivosContainer{
    gap: 1vw;
}

#ArchivosContainer.col {
    margin: 15px;
}

#ArchivosContainer img {
    height: 65px;
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#search img {
    padding-bottom: 5px;
    margin-right: 5px;
    height: 35px;
    width: 30px;
    visibility: visible;
}

#search button {
    position: relative;
    top: 0;
    left: 0;
    width: 45px;
}

.card {
    margin-left: 3px;
    margin-right: 3px;
}

.card-title {
    font-weight: 500;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.TextoEsconder {
    display: inline-block;
}

.fileTitle{
    text-align: center;
    font-weight: bold;
    color: black;
}

.cl-img{
    background: linear-gradient(to left, rgb(195, 232, 255), transparent);
    background-size: cover;
}

.cl-detail,
.cl-perms {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
    border: 1px solid black;
}

.cl-detail {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.418);
}

.cl-perms {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: 15vh;
}

#ArchivosContainer,#ArchivosDetalles,#ArchivosContainerRoot {
    color: black;
}

.verticalLine {
    border-left: solid #a2d5ff;
}

@media (max-width: 1600px)  {
    
    .TextoEsconder {
        color: transparent;
        width: 0%;
        height: 0%; 
    } 
    
    button {
        width: 80px; 
    }
}

@media (max-width: 1400px) {
    /* input{
        width: 65vw;
        margin-right: 5px;
    } */
    
    /* #ArchivosContainer img {
        height: 40px;
        width: 35px;
    } */

    #categoriasYfichero{
        height: auto;
    }

    #ArchivosContainer{
        gap: 0;
    }
    
    #ArchivosContainerRoot{
        margin-left: 0;
    }
    .navbar-collapse.navbar-expand-lg.collapse.show{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 20px;
    }
    
}

@media (max-width: 1000px) {
    .cl-detail{
        height: auto;
    }
    .cl-img{
        width: 100%;
        background: linear-gradient(to bottom, rgba(240, 247, 255, 1), transparent), url(../../../assets/img/down.jpg);
    }
    #ArchivosContainerRoot{
        background-image: linear-gradient(to top, rgba(240, 247, 255, 1), transparent), linear-gradient(to bottom, rgba(240, 247, 255, 1), transparent), url(../../../assets/img/fondo.jpg);
    }
}