<app-navbar></app-navbar>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="container-fluid">
    <div class="row rowAnchoVistaPrevia mx-2">
        <!-- <div>
            Visitas: {{visitCount}}
        </div> -->
        <div class="col-10 border border-primary">                    
            <ngx-extended-pdf-viewer [src]="pdfUrl" [useBrowserLocale]="true" [textLayer]="true"></ngx-extended-pdf-viewer>
        </div>
        <div class="col border border-primary pt-5 px-5">
            <p class="my-2"><b class="me-2">Nombre: </b>{{ file.nombre }}</p>
            <br>
            <p class="my-2"><b class="me-2">Extensión: </b>{{ file.extension }}</p>
            <br>
            <p class="my-2"><b class="me-2">Tamaño: </b>{{ file.tamano }}</p>
            <br>
            <p class="my-2"><b class="me-2">Visibilidad: </b>{{ file.visibilidad }}</p>
        </div>

    </div>
    <div class="row rowRight my-5 mx-2">
        <div class="col">
            <button type="submit" class="btn btn-info itemDownload">
                <span class="material-symbols-outlined" (click)="downloadPdfFromDatabase(this.file.nombre, this.file.extension);">
                    download
                </span>
            </button>
            <button type="submit" class="btn btn-info" (click)="openModalShare()">
                <span class="material-symbols-outlined">
                    share
                </span>
            </button>
        </div>
    </div>
    <div class="row my-3 mx-2">
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button d-block text-center" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Escribir comentario
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Escribe un comentario</label>
                                <textarea class="form-control" [(ngModel)]='comment' rows="3"></textarea>
                                <input type="submit" class="btn btn-primary mt-2" name="Enviar" (click)="sendComment()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="panel panel-default widget">
                <div class="panel-heading my-3">
                    <span class="glyphicon glyphicon-comment"></span>
                    <h3 class="panel-title">Comentarios recientes</h3>
                    <span class="label label-info">contadorComentarios</span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li *ngFor="let comment of comments" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
                                </div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        <div class="mic-info">
                                            By: <a href="#">{{ comment.author }}</a> on {{ comment.date }}
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        {{ comment.text }}
                                    </div>
                                    <div class="action">
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete"
                                            (click)="onDeleteComment(comment.id)">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>