<app-navbar></app-navbar>
<div class="containerRoot">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 col-md-9 my-1">            
                <select class="form-control p-3 rounded" id="selectElement" *ngIf="file" disabled> 
                    <option value="1"> {{ file.categories.nombre }}</option>
                    <option value="2"></option>
                        <!-- <optgroup *ngIf="category.subcategories && category.subcategories.length > 0" [label]="category.nombre">
                            <option *ngFor="let subcategory of category.subcategories" [value]="subcategory">
                                &nbsp;&nbsp;&nbsp;{{ subcategory.nombre }}
                            </option>
                        </optgroup> -->
                </select>
            </div>
            <div class="col-12 col-md-3 my-1">
                <select class="form-control p-3" [(ngModel)]="file.visibilidad">
                    <option value="1">Visibility: Public</option>
                    <option value="2">Visibility: Private</option>
                </select>
            </div>
        </div>
        <div class="row mt-3" *ngIf="file">
            <div class="col-12 col-md-9 my-1 ">
                <input type="text" class="w-100 ps-2" [(ngModel)]="file.nombre" placeholder="{{file.nombre}}" >
            </div>
            <div class="col-11 col-md-3 my-1 rounded p-1 cl-type">
                {{ file.extension}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-9">
                <div class="rounded cl-vst-prev text-center">  
                        <ngx-extended-pdf-viewer [src]="pdfurl" [textLayer]="true"></ngx-extended-pdf-viewer>
                </div>
            </div>
            <div class="col">
                <div class="rounded p-5 cl-detail">
                    Nombre: {{ file.nombre }}
                    <br>
                    Extensión: {{ file.extension }}
                    <br>
                    Tamaño: {{ file.tamano }}
                    <br>
                    Visibilidad: {{ file.visibilidad }}
                </div>
            </div>
            </div> 
            
        </div>
        <div class="row text-center my-4">
            <div class="col">
                <button type="submit" class="btn btn-dark" (click)="modifyFile()">Upload</button>
            </div>
            <div class="col">
                <button routerLink="/home" class="btn btn-dark">Go back to home</button>
            </div>
        </div>
    </div>