.containerRoot {
    position: relative;
    height: 91.5vh;
    color: white;
    overflow-x: hidden;
    background-color: #f0f7ff;
}

.row{
    margin-left: 10px;
    margin-right: 15px;
}

input{
    height: 40px;
    border-radius: 5px;
}

.cl-type{
    height: 40px;
}

.cl-detail{
    height: 65vh;
}

.cl-vst-prev{
    border: 1px solid black;
    height: 65vh;
}

.form-control, .cl-type, .cl-detail, input {
    border: none;
    border-left: 4px solid #95d5ff;
    background-color: #95d5ff3d;
    color: black;
}

@media (max-width:750px) {
    .cl-type{
        margin-left: 10px;
    }
    
    .cl-detail{
        height: auto;
        margin-top: 20px;
    }
}