<app-navbar></app-navbar>
<div class="container perfil-contenedor mt-4">
    <div class="fondo position-relative" (click)="handleBackgroundClick()" (drop)="handleBackgroundDrop($event)" (dragover)="allowDrop($event)" *ngIf="fotoPortadaUrl">
        <div class="overlay overlay-text d-flex align-items-center justify-content-center" *ngIf="showOverlay">Introduce un nuevo fondo de imagen</div>
        <img [src]="fotoPortadaUrl" class="fondo">
        <button class="boton-Naranja editar-perfil-btn position-absolute bottom-0 end-0 {{ buttonClicked ? 'btn-green' : '' }}" (click)="toggleEditMode($event)">{{ showOverlay ? 'Guardar cambios' : 'Editar perfil' }}</button>
    </div>
    <div class="perfil-foto-contenedor position-relative" (drop)="handleProfilePhotoDrop($event)" (dragover)="allowDrop($event)">
        <div class="perfil-outline" *ngIf="fotoPerfilUrl">
            <div class="overlay-2 overlay-text d-flex align-items-center justify-content-center" *ngIf="showOverlay">Introduce una foto de perfil nueva</div>
            <img [src]="fotoPerfilUrl" alt="Foto perfil" class="foto-perfil" (click)="openImagePicker('profile')">
        </div>
    </div>
    <div class="row detalles">
        <div class="col-md-3">
            <div class="perfil-detalles border p-3 mb-1">
                <div class="perfil-campo mb-3">
                    <label>Usuario:</label>
                    <span>{{ usuario.nombre }}</span>
                </div>
                <div class="perfil-campo mb-3">
                    <label>Rol:</label>
                    <span>{{ usuario.roles.nombre }}</span>
                </div>
                <div class="perfil-campo mb-3">
                    <label>Fecha de entrada:</label>
                    <span>{{ usuario.fechaCreacion }}</span>
                </div>
                <div class="perfil-campo mb-3">
                    <label>Descripcion:</label>
                    <span>{{ usuario.descripcion }}</span>
                </div>                
            </div>
        </div>
        <div class="col-md-9">
            <div class="perfil-dashboard border p-3 mb-3 flex-column">
                <h2>Archivos subidos / comentarios - Dashboard del usuario</h2>
            </div>
        </div>
    </div>
</div>
