<app-navbar></app-navbar>
<table class="table table-bordered my-5">
    <thead class="table-primary">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index;">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}t</td>
            <td>{{ user.role }}</td>
            <td class="text-center w-25">
                <div class="btn btn-outline-info mx-4" (click)="modifyUser()">Modify User</div>
                <div class="btn btn-outline-danger" (click)="deleteUser()">Delete User</div>
            </td>
        </tr>
    </tbody>
</table>
